.product {
	border-radius: 5px;
	background: white;
	transition: 0.2s ease-in-out;
	width: 200px;
	margin: 15px;

	&:hover {
		box-shadow: 0px 5px 37px -22px rgba(0, 0, 0, 1);
	}

	.details {
		display: flex;
	}

	.title {
		font-weight: bold;
		margin: 10px 0 0 8px;
	}

	.price {
		margin-left: 8px;
		padding: 5px 0;
	}

	img {
		display: block;
		height: 250px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		width: 200px;
	}

	button {
		border-radius: 5px;
		border: 1px solid lightcoral;
		padding: 10px;
		background: transparent;
		transition: 0.15s ease-in-out;
		margin: 10px 0;
		color: lightcoral;
		margin-left: 8px;

		&:hover {
			cursor: pointer;
			background: lightcoral;
			color: white;
		}
	}
}
